@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: rgb(235, 168, 61);
  --dark: rgb(28, 28, 26);
  --white: #ffffff;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--white);
  color: var(--dark);
}

.fade-in {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

